  <% if (!user) { %>
    <script defer src="https://accounts.google.com/gsi/client"></script>
  <% } %>
</head>
<body>
  <nav>
    <img src="/assets/images/Logo.png" id="logo" alt="">
    <a href="/">Home</a>
    <a href="/profiles/users">Users</a>
    <a href="/orgs">Orgs</a>
    <a href="/tickets">Issues</a>
    <a href="/tickets/new"><button class="btn btn-primary" id="create-issue" type="submit">Create Issue</button></a>


    <section id="googleAuth">
      <a href="/profiles/<%= user?.profile._id %> "><%= user?.profile.name %> </a>
      <% if (user) { %>
        <a href="/auth/logout" class="right">
          <button class="btn btn-danger" type="submit">Logout</button>
        </a>
      <% } else { %>
        <div 
          id="g_id_onload"
          data-client_id="<%= googleClientID %>"
          data-login_uri="<%= googleLoginURL %>"
          data-login_uri="/auth/google"
          data-auto_prompt="false"
        ></div>
        <div 
          class="g_id_signin right"
          data-type="standard"
          data-size="large"
          data-theme="outline"
          data-text="sign_in_with"
          data-shape="rectangular"
          data-logo_alignment="left"
        ></div>

      <% } %>
    </section>

  </nav>
