main {
  display:grid;
  text-align: center;
  justify-content: center;
  align-items: center;
  min-height: 50vh;
}
h1 {
  font-size: 60px;
}
#homeSelection{
  display: flex;
  justify-content: center;
  flex-direction: row;
}
#homeSelection > * {
  margin: auto 10px;
}