html {
  box-sizing: border-box;
}

/* The Universal Selector */
*, /* All elements*/
*::before, /* All ::before pseudo-elements */
*::after {
  /* All ::after pseudo-elements */
  /* height & width will now include border & padding by default but can be overridden as needed */
  box-sizing: inherit;
}

body {
  background-color: #1a1a1a;
  color: #f6f6f6;
  /* Use a system font, if none are available use any found sans-sarif font */
  font-family:    'Helvetica Neue',system-ui, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell, sans-serif;
  margin: 0;
}

nav {
  background-color: #f6f6f6;
  color: #1a1a1a;
  display: flex;
  align-items: center;
  padding: 10px;
  min-height: 60px;
}
#googleAuth{
  margin-left: auto;
  display: flex;
  flex-direction: row;
}
#googleAuth > * {
  margin: auto 10px;
  text-decoration: none;
}
#create-issue{
  margin: 5px 20px;
}
nav > a {
  margin:7px 20px;
  text-decoration: none;
}

main {
  margin-top: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.card {
  display: flex;
  flex-direction: row;
}

.right {
  margin-left: auto;
}
